<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="container mb-2 form-login">
            <h2 class="mt-2 text-left">Plan your unique trip to the most amazing cities in the world.</h2>
            <%= form_for(@plan) do |f| %>
              <div class="form-group">
                <%= f.label :City %>
                <%= f.text_field :city, class: 'form-control', id:"plan-city" %>
              </div>

              <div class="form-group">
                <%= f.label :Date %>
                <%= f.text_field :start_date_time, class: 'form-control datepicker bg-white border-bottom' %>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <%= f.label :Adults %>
                    <div class="num d-flex">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown();event.preventDefault()">-</button>
                      <%= f.number_field :number_adults, in: 0.0..20.0, step: 1.0, placeholder: "0", class: 'form-control' %>
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();event.preventDefault()">+</button>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <%= f.label :Children %>
                    <div class="num d-flex">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown();event.preventDefault()">-</button>
                      <%= f.number_field :number_children, in: 0.0..20.0, step: 1.0, placeholder: "0", class: 'form-control' %>
                       <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();event.preventDefault()">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <%= f.submit class: 'btn btn-primary bg-thematic', style: "font-weight: bold" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- How it works -->

<!-- <i class="material-icons icon-hiw col-thematic-inv">looks_one</i> -->
<!-- <i class="material-icons icon-hiw col-thematic-inv">looks_two</i> -->
<!-- <i class="material-icons icon-hiw col-thematic-inv">looks_3</i> -->
<div class="section-steps container mt-5 mb-5">
  <h2 class="font-weight-bold col-thematic-inv text-center"><span>How it works</span></h2>
  <div class="row mb-5 align-items-center">
    <div class="col-6">
      <%= image_tag("choosing.png", class: "picture") %>
    </div>
    <div class="col-6">
      <h4 class="col-thematic">Step 1</h4>
      <h3 class="col-text-primary font-weight-bold">Select your favorite sights</h3>
      <p class="col-text-secondary mt-4 steps-desc-para">With a huge selection of top rated attractions, you'll find the activivites that best match your interests quickly and easikly.</p>
    </div>
  </div>
  <div class="row mb-5 align-items-center">
    <div class="col-6">
      <h4 class="col-thematic text-right">Step 2</h4>
      <h3 class="col-text-primary font-weight-bold text-right">Robot time</h3>
      <p class="col-text-secondary mt-4 text-right steps-desc-para">Sit back for a moment while we build your personal sightseeing day. No more manually combining notes, map results and timetables. Mapr does all the hard work for you.</p>
    </div>
    <div class="col-6">
      <%= image_tag("robot.png", class: "picture") %>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-6">
      <%= image_tag("map_2.png", class: "picture") %>
    </div>
    <div class="col-6">
      <h4 class="col-thematic">Step 3</h4>
      <h3 class="col-text-primary font-weight-bold">Enjoy your day plan</h3>
      <p class="col-text-secondary mt-4 steps-desc-para">All your activities combined into a single, optimised plan that includes travel between places. Each stage is clearly mapped and includes simple step-by-step instructions. No worries, no hassle.</p>
    </div>
  </div>
</div>


<!-- Testimonials -->

<div class="section-steps container">
  <h2 class="font-weight-bold col-thematic-inv text-center mt-5"><span>Our customers love us</span></h2>
</div>

<div class="wrapper mt-5">
  <div class="one"><img class="photo" src="https://images.unsplash.com/photo-1500154040473-d91a2e21a6ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80" alt="First slide">
    <div class="text_adj">
      <h4>Leonard, 24</h4>
      <p>"With Mapr our trip went smoother than expected. No unnescessary waiting for public transport or queuing for hours.. Love it!"</p>
    </div>
  </div>
  <div class="thirteen"><img class="photo" src="https://images.unsplash.com/photo-1536624034625-d5433d6391e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2241&q=80" alt="First slide">
    <div class="text_adj">
      <h5>Malina, 27</h5>
      <p>"I was able to organise the perfect trip, thanks to you guys!"</p>
    </div>
  </div>
  <div class="fourteen"><img class="photo" src="https://images.unsplash.com/photo-1490547125761-e6e2f28cdf87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2249&q=80" alt="First slide">
    <div class="text_adj">
      <h5>Niklas, 25</h5>
      <p>"Mapr was a really helpfull tool to plan your day in a convenient way"</p>
    </div>
  </div>
  <div class="fifteen"><img class="photo" src="https://images.unsplash.com/photo-1471224689211-8d9629bafd66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2268&q=80" alt="First slide">
    <div class="text_adj">
      <h5>Carl, 33</h5>
      <p>"Just love how easy it was planning my parents visit! OMG!!!"</p>
    </div>
  </div>
  <div class="sixteen"><img class="photo" src="https://images.unsplash.com/photo-1501621965065-c6e1cf6b53e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2252&q=80" alt="First slide">
    <div class="text_adj">
      <h5>Anne, 24</h5>
      <p>"We had an amazing experience! One important factor was Mapr..."</p>
    </div>
  </div>
  <div class="three"><img class="photo" src="https://images.unsplash.com/photo-1529183692387-bf4b84f1cd8a?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80" alt="First slide">
    <div class="text_adj">
      <h4>Cindy, 28</h4>
      <p>"My short stay in Rome has been an amazing experience. I was able to see so many things, which would not have been possible without Mapr."</p>
    </div>
  </div>
  <div class="four"><img class="photo" src="https://images.unsplash.com/photo-1472584069410-35e46830b642?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="First slide">
    <div class="text_adj">
      <h4>Marian & Sady, 24 & 28</h4>
      <p>"Best product out there!! We used it very often while travelling.."</p>
    </div>
  </div>
  <div class="five"><img class="photo" src="https://images.unsplash.com/photo-1541473211644-5cb06d3c68ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="First slide">
    <div class="text_adj">
      <h5>Berkay, 31</h5>
      <p>"Mapr made my life as a travel blogger so much easier!"</p>
    </div>
  </div>
  <div class="six"><img class="photo" src="https://images.unsplash.com/photo-1486591267513-8283070135ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="First slide">
    <div class="text_adj">
      <h5>Jürgen, 35</h5>
      <p>"Your website is amazing.. Has helped me a lot!"</p>
    </div>
  </div>
  <div class="seven"><img class="photo" src="https://images.unsplash.com/photo-1551706872-893907c44a3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="First slide">
    <div class="text_adj">
      <h5>Maurice, 30</h5>
      <p>"My last stay in Florence was very pleasant with Mapr..."</p>
    </div>
  </div>
  <div class="eight"><img class="photo" src="https://images.pexels.com/photos/2451594/pexels-photo-2451594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="First slide">
    <div class="text_adj">
      <h5>Niklas, 17</h5>
      <p>"Even though I am too young to travel, I still play around with Mapr in my free time."</p>
    </div>
  </div>
  <div class="nine"><img class="photo" src="https://images.unsplash.com/photo-1521723740463-7e9b876c59a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="First slide">
    <div class="text_adj">
      <h5>Elisa & Max, 33 & 19</h5>
      <p>"WOW! You guys have made planning our trip sooo convenient.."</p>
    </div>
  </div>
  <div class="ten"><img class="photo" src="https://images.unsplash.com/photo-1553204991-ef8d054e2a62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="First slide">
    <div class="text_adj">
      <h5>Kaylee, 28</h5>
      <p>"Mapr is a very usefull tool when you want to plan a trip."</p>
    </div>
  </div>
  <div class="eleven"><img class="photo" src="https://images.unsplash.com/photo-1562012962-5da0c554dac3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="First slide">
    <div class="text_adj">
      <h5>Amal, 33</h5>
      <p>"Mapr is super awesome!!"</p>
    </div>
  </div>
  <div class="twelve"><img class="photo" src="https://images.unsplash.com/photo-1467730572233-b2d465ec6e89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2249&q=80" alt="First slide">
    <div class="text_adj">
      <h5>Angi & Yann, 24 & 30</h5>
      <p>"Mapr for the win! But we also like parrots..."</p>
    </div>
  </div>
</div>

<!-- Scroll up button -->
<div class="container d-flex justify-content-center">
  <button type="button" class="btn btn-primary bg-thematic p-4 m-5" id="scroll-top-btn" title="Go to top" style="font-weight: bold" >Plan your trip now</button>
</div>



