<div class="banner">
  <div class="banner-content text-center">
    <h1>Plan your unique trip to the most amazing cities in the world.</h1>
    <p>Our algorithm finds the fastest route around a busy city</p>
    <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>




<div class="container mb-2">
    <h2 class="mt-2"> Select a city </h2>
    <%= form_for(@plan) do |f| %>
      <div class="form-group">
        <%= f.label :City %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :Date %>
        <%= f.date_field :start_date_time, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :Adults %>
        <%= f.number_field :number_adults, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :Children %>
        <%= f.number_field :number_children, class: 'form-control' %>
      </div>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>


