
<div class="row">
  <% @activities.each do |activity| %>

  <% full_stars = activity[:average_rating].to_i %>
  <% half_star = true if activity[:average_rating] - full_stars >= 0.5 %>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div id="<%= activity.place_id %>" class="card activity-card my-3">
      <% img_src = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=500&photoreference=#{activity.image_ref}&key=#{ENV['GOOGLE_API_KEY']}" %>
      <% if activity.image_ref %>
        <% img_src = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=300&photoreference=#{activity.image_ref}&key=#{ENV['GOOGLE_API_KEY']}" %>
      <% else %>
        <% img_src = image_path('card_image_placeholder.jpeg') %>
      <% end %>
      <img class="card-img-top activity-card-img" src="<%= img_src %>" alt="">
      <div class="card-body card-flex">
        <p style="font-size: 16px;"><%= activity[:name] %></p>
        <div class="row" style="margin-bottom: -20px">
          <div class="col-8">
            <p class="card-rating">
              <%= activity[:average_rating] %>
              <% full_stars.times do %>
              <i class="fas fa-star"></i>
              <% end %>
              <% if half_star %>
              <i class="fas fa-star-half"></i>
              <% end %>
            </p>
          </div>
          <div class="col">
            <p id="b_<%= activity.place_id %>" data-place-id='<%= activity.place_id %>'class=" shortlist-btn material-icons"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>



