<div class="container">
  <h1 class="text-center">Select your preferences!</h1>
  <%=form_for @plan do |f| -%>
    <div class="row">
      <div class="col">
        <%= f.label :start_date_time %>
        <%= f.text_field :start_date_time, class: 'form-control start-time', value:"10:00"  %>
       </div>
       <div class="col">
        <%= f.label :end_date_time %>
        <%= f.text_field :end_date_time, class: 'form-control end-time', value:"18:00"  %>
        </div>
     </div>
    <div class="row">
      <div class="col">
        <%= f.label :start_address %>
        <%= f.text_field :start_address, class: 'form-control', id:"city-point"   %>
      </div>
      <div class="col">
        <%= f.label :end_address %>
        <%= f.text_field :end_address, class: 'form-control', id:"end-point" %>
      </div>
    </div>
  <div>
    <h3>Choose your transport way</h3>
    <div class="btn-group-lg btn-group-toggle my-3" data-toggle="buttons" id="fromGroupTransport">
      <%= f.radio_button :permit_walk, 'walk', id:"option1", autocomplete:"off"%>
      <%= f.label :permit_walk, 'walk', :value => 'walk', class:"btn btn-secondary "%>
      <%= f.radio_button :permit_car, 'car', id:"option2", autocomplete:"off" %>
      <%= f.label :permit_car, 'car', :value => 'car', class:"btn btn-secondary " %>
      <%= f.radio_button :permit_cycle, 'cycle', id:"option3", autocomplete:"off" %>
      <%= f.label :permit_cycle, 'cycle', :value => 'cycle', class:"btn btn-secondary" %>
      <%= f.radio_button :permit_public_transport, 'public_transport', id:"option3", autocomplete:"off" %>
      <%= f.label :permit_public_transport, 'public_transport', :value => 'public_transport', class:"btn btn-secondary " %>
    </div>
  </div>
  <div>
    <%= f.fields_for :breaks, @break do |fb| %>
       <h3>Add a break</h3>
       <%= render 'break_fields', f: fb %>
    </div>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add break', f, :breaks %>
    </div>
      <%= f.submit  class: "btn btn-secondary my-3 bg-thematic"%>
<% end %>
</div>
</div>





<!--       <label class="btn btn-secondary active">
      <input type="radio" name="permit_walk" id="option1" autocomplete="off" checked> Walk
      </label>
      <label class="btn btn-secondary">
      <input type="radio" name="permit_car" id="option2" autocomplete="off"> Car
      </label>
      <label class="btn btn-secondary">
      <input type="radio" name="permit_public_transport" id="option3" autocomplete="off">  public transportation
      </label>
      <label class="btn btn-secondary">
      <input type="radio" name="permit_cycle" id="option4" autocomplete="off"> Cylce
      </label> -->
