<div class="section-steps container">
  <h2 class="font-weight-bold col-thematic-inv text-center" ><span>Select preferences</span></h2>
</div>
<div class="container">
  <%=form_for @plan do |f| -%>
    <div class="row">
      <div class="col from-pref mx-2">
      <h5 class="mb-4">Time and address</h5>
        <%= f.label :start_date_time %>
        <%= f.text_field :start_date_time, class: 'form-control flat_timepicker_1 bg-white border-bottom' %>
        <%= f.label :end_date_time %>
        <%= f.text_field :end_date_time, class: 'form-control flat_timepicker_2 bg-white border-bottom' %>
        <%= f.label :start_address %>
        <%= f.text_field :start_address, class: 'form-control border-bottom', id:"city-point"   %>
        <%= f.label :end_address %>
        <%= f.text_field :end_address, class: 'form-control border-bottom', id:"end-point" %>
      </div>
      <div class="col from-pref mx-2">
          <!-- <p class="mb-4 head-label">Travel by:</p> -->
          <h5 class="mb-5">Travel by</h5>
          <div class="btn-group-lg btn-group-toggle "    id="fromGroupTransport">
            <div>
              <div class="col d-flex justify-content-around">
                <%= f.check_box :permit_walk, class:"js-value-updater", id:"option1" %>
                <%= f.label :permit_walk, 'directions_walk', class:"btn btn-secondary js-btn material-icons"%>
                <%= f.check_box :permit_car, class:"js-value-updater", id:"option2"%>
                <%= f.label :permit_car, 'directions_car', class:"btn btn-secondary js-btn  material-icons" %>
              </div>
              <div class="col d-flex justify-content-around mt-4">
                <%= f.check_box :permit_cycle, class:"js-value-updater",id:"option3" %>
                <%= f.label :permit_cycle, 'directions_bike', class:"btn btn-secondary js-btn material-icons" %>
                <%= f.check_box :permit_public_transport, class:"js-value-updater",id:"option4" %>
                <%= f.label :permit_public_transport, 'tram', class:"btn btn-secondary js-btn material-icons " %>
              </div>
            </div>
          </div>
      </div>
    </div>
<div class="row mt-3">
  <div class="col from-pref mx-2">
    <div class="my-2">
      <%= f.fields_for :breaks, @break do |fb| %>
         <h5 class="mb-3">Breaks</h5>
         <%= render 'break_fields', f: fb %>
    </div>
      <% end %>
    <div class="links row align-items-center mt-2 ">
      <%= link_to_add_association 'add_box', f, :breaks, class:"material-icons col-thematic ml-3 mr-1" %>
      <p class="m-0 col-thematic" id="p-break">Add break</p>
    </div>
</div>
  </div>
  <div class="row">
    <div class="col mx-0 px-2 text-right">
     <%= f.submit 'Select your categories',  class: "btn btn-primary bg-thematic mt-4"%>
   </div>
  </div>
  <% end %>
</div>




