<div class="container">
  <h2 class="text-center header-pref" style="margin-bottom: 20px; margin-top: 10px;"> Select your preferences for your trip</h2>
  <%=form_for @plan do |f| -%>‚
    <div class="row">
      <div class="col from-pref mx-2">
        <%= f.label :start_date_time %>
        <%= f.text_field :start_date_time, class: 'form-control start-time', value:"10:00"  %>
        <%= f.label :end_date_time %>
        <%= f.text_field :end_date_time, class: 'form-control end-time', value:"18:00"  %>
        <%= f.label :start_address %>
        <%= f.text_field :start_address, class: 'form-control', id:"city-point"   %>
        <%= f.label :end_address %>
        <%= f.text_field :end_address, class: 'form-control', id:"end-point" %>
      </div>
      <div class="col from-pref mx-2">
          <p class="mb-4 head-label">Travel by:</p>
          <div class="btn-group-lg btn-group-toggle "    id="fromGroupTransport">
            <div>
              <div class="col d-flex justify-content-around"">
                <%= f.check_box :permit_walk, class:"js-value-updater", id:"option1" %>
                <%= f.label :permit_walk, 'directions_walk', class:"btn btn-secondary js-btn material-icons"%>
                <%= f.check_box :permit_car, class:"js-value-updater", id:"option2"%>
                <%= f.label :permit_car, 'directions_car', class:"btn btn-secondary js-btn  material-icons" %>
              </div>
              <div class="col d-flex justify-content-around mt-4">
                <%= f.check_box :permit_cycle, class:"js-value-updater",id:"option3" %>
                <%= f.label :permit_cycle, 'directions_bike', class:"btn btn-secondary js-btn material-icons" %>
                <%= f.check_box :permit_public_transport, class:"js-value-updater",id:"option4" %>
                <%= f.label :permit_public_transport, 'tram', class:"btn btn-secondary js-btn material-icons " %>
              </div>
            </div>
          </div>
      </div>
    </div>
  <div class="my-2">
    <%= f.fields_for :breaks, @break do |fb| %>
       <h3>Add a break</h3>
       <%= render 'break_fields', f: fb %>
  </div>
    <% end %>
  <div class="links">
    <%= link_to_add_association 'add_comment', f, :breaks, class:"material-icons col-thematic" %>
  </div>
  <div class="d-flex justify-content-end ">
  <%= f.submit 'Select your categories',  class: "btn btn-primary my-3 "%>
  </div>
  <% end %>
</div>




