<h1>This is your itinerary for your plan: <%= "#{@plan.name}" %></h1>





<!-- navbar -->
<ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
  <li class="nav-item">
    <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#home" id="home-tab" role="tab">Overview</a>
  </li>
  <li class="nav-item">
    <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile" id="profile-tab" role="tab">Step by Step directions</a>
  </li>
  <li class="nav-item">
    <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact" id="contact-tab" role="tab">Activities</a>
  </li>
</ul>
<div class="tab-content" id="justifiedTabContent">
  <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
    <div class="container">
      <div
        id="mapall"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-travelmode="<%= @travel_mode.to_json %>"
      ></div>
    </div>
  </div>

  <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
    <div class="container">
      <% @markers.each_with_index do |marker, index|  %>
        <% break if index == @markers.length - 1  %>
        <div class="container mt-4 mb-2">
          <h4 mb-2 mt-4><%= "Step #{index + 1}" %></h4>
            <div class="row">
              <% markers = [marker, @markers[index + 1]] %>
              <div
                class="map col-8"
                id="<%= "map#{index}" %>"
                style= " height: 400px;"
                data-markers="<%= markers.to_json %>"
                data-travelmode="<%= @travel_mode.to_json %>"
              ></div>
              <div
                class="instructions col-2"
                id="<%= "instructions#{index}" %>"
                style= " height: 400px;"
              ></div>
            </div>
            <div class="row"><ul id="<%= "instructionsteps#{index}" %>"></ul></div>
        </div>
      <% end %>
    </div>
  </div>

  <div aria-labelledby="contact-tab" class="tab-pane fade" id="contact" role="tabpanel">
    <div class="container">
        <% @plan.activities.each do |activity| %>
          <!-- CARD FOR EACH ACTIVITY -->
          <div class="card mt-4 mb-3" data-aos="fade-up">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1546726747-421c6d69c929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= activity.name %></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Category</small></p>
                <%= link_to "Delete", plan_activity_path(@plan, activity), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-primary" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>


